
body {
  background-color:yellow; /* Replace with your desired background color */
}

.headings{
  text-align: center;
  color: crimson;
 
  
}

.input{
  margin-top: 20px;
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
  border: 2px solid black;
  color:red;
  background-color: #4CAF50; /* Green */
  font-size: 20px;
  
}

.fbody{
  background: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.b1{
  height: 50px;
  width: 100px;
  color: black;
  margin-left: 20px;
  border: 2px solid black;
  cursor: pointer;
  background-color: #4CAF50; /* Green */
  padding: 5px;
  margin-bottom: 10px;



}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.foot{
  color: red;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
 
}